// 通过检查，查看元素样式声明

.dark .content__default code {
    background-color: rgba(58,58,92,0.7);
    color: #fff;
}
.page{
   transform: none !important
}
// 去除左上角标题，作者，标签等
.page .page-title {
    display: none;
}
.bulletin-wrapper .bulletin-content[data-v-1607dd08] img {
    width: 50% !important;
	margin: auto;
    display: block;
}
.bulletin-wrapper .bulletin-footer[data-v-1607dd08] .btn {
	width:2.4rem !important;
	line-height:2.4rem !important;
	}

//滚动条样式
::-webkit-scrollbar
  width: 2px !important;
/*滚动条的设置*/
::-webkit-scrollbar-thumb {
	background-color:#94989c8c !important; 
	background-clip:padding-box !important; 
	-webkit-border-radius: 10em !important; 
	-moz-border-radius: 10em !important; 
	border-radius: 10em !important; 
}
/*滚动条凹槽的颜色，还可以设置边框属性 */
::-webkit-scrollbar-track-piece {
	background-color:transparent !important; 
	-webkit-border-radius: 0em !important; 
	-moz-border-radius: 0em !important; 
	border-radius: 0em !important; 
}
/*滚动条鼠标移上去*/
::-webkit-scrollbar-thumb:hover {
	background-color:#bbb !important; 
}